<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seating
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choose your seatings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col class="letterstop">
      <p class="letterstopspace">1</p>
      <p class="letterstopspace">2</p>
      <p class="letterstopspace">3</p>
      <p class="letterstopspace">4</p>
      <p class="letterstopspace">5</p>
      <p class="letterstopspace">6</p>
      <p class="letterstopspace">7</p>
      <p class="letterstopspace">8</p>
      <p class="letterstopspace">9</p>
      <p class="letterstopspace">10</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>A</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>B</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>C</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>D</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>E</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>F</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>G</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>H</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>I</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col">
      <p>J</p>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
      <ion-button class="buttonseat"></ion-button>
    </ion-col>
  </ion-row>

  
<ion-button expand="block"> Confirm your seats please</ion-button>



</ion-content>
