<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-explore-container name="Tab 1 page">

  </app-explore-container>

  <ion-content fullscreen>
    <div id="book">
      <ion-row id="closeRow">
        <ion-button color="danger" id="close" (click)="closeBook()">X</ion-button>
      </ion-row>
      <ion-row>
        <h2 style="margin-left: 10px;">{{selectMovie}} | {{selectHour}}</h2>
      </ion-row>
      <ion-row class="place">
        <h1 class="titlePlace">Adult</h1>
        <ion-row class="left place">

          <ion-button color="medium" size="small" class="add-btn" clear (click)="decrementAdultQty()">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
          <span class="nbPlace">{{item_adult_qty}}</span>

          <!-- <input type="text" name="qty" id="1" value="0" class="input-filed"> -->

          <ion-button color="medium" size="small" class="add-btn" clear (click)="incrementAdultQty()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-row>

      <ion-row class="place">
        <h1 class="titlePlace">Child</h1>
        <ion-row class="left place">

          <ion-button color="medium" size="small" class="less" (click)="decrementChildQty()">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>

          <span class="nbPlace">{{item_child_qty}}</span>

          <ion-button color="medium" size="small" class="more" (click)="incrementChildQty()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-row>

      <ion-row >
        <p id="priceText">Price : {{price}} <span *ngIf="isFamilyPromotion" style="color: rgb(14, 107, 14);">Family promotion !</span></p>
      </ion-row>

      <ion-row>
        <ion-tab-button tab="tab2?movie={{selectMovie}}&hour={{selectHour}}">
          <ion-button color="medium">Continue</ion-button>
        </ion-tab-button>
      </ion-row>
    </div>
    <ion-card class="movies" *ngFor="let movie of movies">
      <ion-card-content>
        <h1>{{movie.titre}} ({{movie.year}})</h1>
        <p class="director">Director : {{movie.director}}</p>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let movieHour of movie.hour">
              <ion-button color="medium" (click)="select(movieHour, movie.titre)">{{movieHour}}</ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
