<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <app-explore-container name="Tab 1 page">

  </app-explore-container>

  <ion-content fullscreen>
    <ion-card class="movies">
      <img class="shang" src="./assets/icon/Shang-Chi-Movie-Poster-608x900.jpg" />
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="medium" ng-click="click()">10:00</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">11:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">14:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">17:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">20:00</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">22:00</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <h1>Adult</h1>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <p>0</p>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-row>
          <ion-row>
            <h1>Children</h1>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <p>0</p>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-row>

          <ion-button class="next" style="display: none;" expand="block">Continue</ion-button>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card class="movies">
      <img class="st" src="./assets/icon/star-wars-the-last-jedi-poster-608x900.jpg" />
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="medium" ng-click="click()">10:00</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">11:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">14:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">17:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">20:00</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">22:00</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <h1>Adult</h1>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <p>0</p>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-row>
          <ion-row>
            <h1>Children</h1>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <p>0</p>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-row>
          <ion-button class="next" style="display: none;" expand="block">Continue</ion-button>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card class="movies">
      <img class="flat" src="./assets/icon/flatliners-poster-1506812549-608x900.jpg" />
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="medium" ng-click="click()">10:00</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">11:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">14:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">17:30</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">20:00</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="medium" ng-click="click()">22:00</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <h1>Adult</h1>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <p>0</p>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-row>
          <ion-row>
            <h1>Children</h1>
            <ion-icon name="remove-circle-outline"></ion-icon>
            <p>0</p>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-row>
          <ion-button class="next" style="display: none;" expand="block">Continue</ion-button>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
