.shang, .st, .flat
{
  width: 90%;
  padding-left: 10%;
  padding-top: 10%;
}

.left
{
  position: relative;
  left: 50%;
}

p
{
  padding-top: 4%;
  font-size: 20px;
}

.director {
  font-size: 16px;
  padding-top: 0;
}

// input
// {
//   width: 10%;
//   height: 50%;
// }
